{% extends 'base.html' %}
{% block content %}
{% load static %}


<div class="container" style=" padding: 170px 0px 190px 0px; margin:0px auto !important">
<div class="card " style="width: 50rem;">
    <div class="card-body">
    <h2 class=" mb-4 text-primary">Login Form</h2>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
</div>


{% endblock %} 